//- for client

doctype html
head
	include ../common-head.jade
	link(rel="stylesheet" type="text/css" href="./style-client.css")

body
	input.connect__name(type='text' value='Name')
	button.connect__btn Connect

	script(src='../socket.io.js')
	script(src='client.js')
