//- for server

doctype html
head
	include ../common-head.jade
	link(rel="stylesheet" type="text/css" href="./style-server.css")
	link(rel="stylesheet" href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')

body
	table.pure-table
		thead
			tr
				th name
				th sample position
		tbody

	script(src='server.js')
